body {
    text-align: center;
}

div {
    width: 400px;
    height: 400px;
    margin: auto;
    background-size: cover;       
}

input {
    border-radius: 10px;
    margin-top: 20px;
    font-size: 30px;
    border-color: black;
    background-color: white;
}   